.footer {
  padding: 3% 15%;
  background-color: black;
  color: white;
}

.footer h3 {
  color: #fff987;
}

.footer-description img {
  width: 150px;
}

.footer-main {
  display: grid;
  grid-template-columns: 30% 20% 20% 20%;
  justify-content: space-between;
}

.footer li {
  list-style-type: none;
}

.footer ul {
  padding: 0px;
}

.footer li {
  line-height: 3;
}

.footer .contact-link {
  display: flex;
  align-items: center;
}

.footer .contact-link i {
  padding-right: 10px;
}

.footer .footer-description p {
  line-height: 2;
}

.rights {
  border-top: 1px solid white;
  text-align: center;
  color: #fff987;
}

.rights p span {
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .footer {
    padding: 7% 5%;
    text-align: center;
  }

  .footer-main {
    display: grid;
    grid-template-columns: 100%;
  }

  .footer .contact-link {
    justify-content: center;
  }

  .footer .footer-description p {
    line-height: 1.5;
  }
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .footer {
    padding: 7% 5%;
    text-align: center;
  }

  .footer-main {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .newlevels-header {
    padding-left: 10%;
    padding-right: 10%;
  }
}
