.newlevels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  background-color: black;
  color: white;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
}

.brand-name a {
  text-decoration: none;
  color: white;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}

.nav-list a:hover {
  color: gray;
}

.nav-list a i {
  margin-right: 10px;
}

.db-profile {
  display: flex;
  align-items: center;
}

.db-profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (max-width: 650px) {
  .newlevels-header {
    padding-left: 5%;
    padding-right: 5%;
  }
}
